
        body{
            background-color: aliceblue;
        }
h1{
    background-color:rgb(0, 29, 54);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    color: aliceblue;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0, 29, 54);
}

img{ display: block;
    margin: 0px auto;

}